html, body {
    margin: 0;
    padding: 0;
}
body {
    background: #CEDED8;
    font-family: 'Montserrat', sans-serif;
    padding-left: 4em;
    letter-spacing: .05em;
    color: #0E1F2F;
}

h1 {
    font-size: 7em;
    font-weight: 500;
}

h2, h3 {
    font-size: 3em;
    font-weight: 300;
    margin-top: -1.3em;
    border-bottom: #0E1F2F solid 1px;
}

h3 {
    margin-top: 0;
}